In [1]:
#Import the Libraries
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
import dash
from dash import dcc, html
from dash.dependencies import Input, Output


from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df_1 = pd.read_csv('PremierLeague.csv')
df_1 = df_1[df_1['Season'] != '2024-2025']

In [3]:
df_1

,MatchID,Season,MatchWeek,Date,HomeTeam,AwayTeam,FullTimeHomeTeamGoals,FullTimeAwayTeamGoals,FullTimeResult,HomeTeamPoints,AwayTeamPoints
0,1993-1994_Arsenal_Coventry,1993-1994,1,8/14/1993,Arsenal,Coventry,0,3,A,0,3
1,1993-1994_Aston Villa_QPR,1993-1994,1,8/14/1993,Aston Villa,QPR,4,1,H,3,0
2,1993-1994_Chelsea_Blackburn,1993-1994,1,8/14/1993,Chelsea,Blackburn,1,2,A,0,3
3,1993-1994_Liverpool_Sheffield Weds,1993-1994,1,8/14/1993,Liverpool,Sheffield Weds,2,0,H,3,0
4,1993-1994_Man City_Leeds,1993-1994,1,8/14/1993,Man City,Leeds,1,1,D,1,1
...,...,...,...,...,...,...,...,...,...,...,...
11775,2023-2024_Crystal Palace_Aston Villa,2023-2024,38,5/19/2024,Crystal Palace,Aston Villa,5,0,H,3,0
11776,2023-2024_Liverpool_Wolves,2023-2024,38,5/19/2024,Liverpool,Wolves,2,0,H,3,0
11777,2023-2024_Luton_Fulham,2023-2024,38,5/19/2024,Luton,Fulham,2,4,A,0,3
11778,2023-2024_Man City_West Ham,2023-2024,38,5/19/2024,Man City,West Ham,3,1,H,3,0
11779,2023-2024_Sheffield United_Tottenham,2023-2024,38,5/19/2024,Sheffield United,Tottenham,0,3,A,0,3

In [4]:
table= pd.DataFrame({'unique':df_1.nunique(),
                   'Null':df_1.isnull().sum(),
                   'Nullpercent':df_1.isnull().sum()/len(df_1)*100,
                   'type':df_1.dtypes, "duplicated":df_1.duplicated().sum()})
table

                       unique  Null  Nullpercent    type  duplicated
MatchID                 11780     0          0.0  object           0
Season                     31     0          0.0  object           0
MatchWeek                  41     0          0.0   int64           0
Date                     3246     0          0.0  object           0
HomeTeam                   51     0          0.0  object           0
AwayTeam                   51     0          0.0  object           0
FullTimeHomeTeamGoals      10     0          0.0   int64           0
FullTimeAwayTeamGoals      10     0          0.0   int64           0
FullTimeResult              3     0          0.0  object           0
HomeTeamPoints              3     0          0.0   int64           0
AwayTeamPoints              3     0          0.0   int64           0

In [5]:
df_2 = pd.read_csv('epl_winners.csv')

In [6]:
table_2= pd.DataFrame({'unique':df_2.nunique(),
                   'Null':df_2.isnull().sum(),
                   'Nullpercent':df_2.isnull().sum()/len(df_2)*100,
                   'type':df_2.dtypes, "duplicated":df_2.duplicated().sum()})
table_2

               unique  Null  Nullpercent    type  duplicated
Season             31     0          0.0  object           0
League_Winner       7     0          0.0  object           0

In [7]:
df_2

     Season      League_Winner
0   1993-94  Manchester United
1   1994-95   Blackburn Rovers
2   1995-96  Manchester United
3   1996-97  Manchester United
4   1997-98            Arsenal
5   1998-99  Manchester United
6   1999-00  Manchester United
7   2000-01  Manchester United
8   2001-02            Arsenal
9   2002-03  Manchester United
10  2003-04            Arsenal
11  2004-05            Chelsea
12  2005-06            Chelsea
13  2006-07  Manchester United
14  2007-08  Manchester United
15  2008-09  Manchester United
16  2009-10            Chelsea
17  2010-11  Manchester United
18  2011-12    Manchester City
19  2012-13  Manchester United
20  2013-14    Manchester City
21  2014-15            Chelsea
22  2015-16     Leicester City
23  2016-17            Chelsea
24  2017-18    Manchester City
25  2018-19    Manchester City
26  2019-20          Liverpool
27  2020-21    Manchester City
28  2021-22    Manchester City
29  2022-23    Manchester City
30  2023-24    Manchester City

In [8]:
import pandas as pd
import re

# Function to convert short year format to full year format
def convert_season(season):
    match = re.match(r'(\d{4})-(\d{2})', season)
    if match:
        year_start = match.group(1)
        year_end = match.group(2)
        year_end_full = '19' + year_end if int(year_end) < 100 else '20' + year_end
        return f'{year_start}-{year_end_full}'
    return season



# Apply the conversion function to the 'Season' column
df_2['Season'] = df_2['Season'].apply(convert_season)

In [9]:
df_2

       Season      League_Winner
0   1993-1994  Manchester United
1   1994-1995   Blackburn Rovers
2   1995-1996  Manchester United
3   1996-1997  Manchester United
4   1997-1998            Arsenal
5   1998-1999  Manchester United
6   1999-1900  Manchester United
7   2000-1901  Manchester United
8   2001-1902            Arsenal
9   2002-1903  Manchester United
10  2003-1904            Arsenal
11  2004-1905            Chelsea
12  2005-1906            Chelsea
13  2006-1907  Manchester United
14  2007-1908  Manchester United
15  2008-1909  Manchester United
16  2009-1910            Chelsea
17  2010-1911  Manchester United
18  2011-1912    Manchester City
19  2012-1913  Manchester United
20  2013-1914    Manchester City
21  2014-1915            Chelsea
22  2015-1916     Leicester City
23  2016-1917            Chelsea
24  2017-1918    Manchester City
25  2018-1919    Manchester City
26  2019-1920          Liverpool
27  2020-1921    Manchester City
28  2021-1922    Manchester City
29  2022-1923    Manchester City
30  2023-1924    Manchester City

In [10]:
df_1

,MatchID,Season,MatchWeek,Date,HomeTeam,AwayTeam,FullTimeHomeTeamGoals,FullTimeAwayTeamGoals,FullTimeResult,HomeTeamPoints,AwayTeamPoints
0,1993-1994_Arsenal_Coventry,1993-1994,1,8/14/1993,Arsenal,Coventry,0,3,A,0,3
1,1993-1994_Aston Villa_QPR,1993-1994,1,8/14/1993,Aston Villa,QPR,4,1,H,3,0
2,1993-1994_Chelsea_Blackburn,1993-1994,1,8/14/1993,Chelsea,Blackburn,1,2,A,0,3
3,1993-1994_Liverpool_Sheffield Weds,1993-1994,1,8/14/1993,Liverpool,Sheffield Weds,2,0,H,3,0
4,1993-1994_Man City_Leeds,1993-1994,1,8/14/1993,Man City,Leeds,1,1,D,1,1
...,...,...,...,...,...,...,...,...,...,...,...
11775,2023-2024_Crystal Palace_Aston Villa,2023-2024,38,5/19/2024,Crystal Palace,Aston Villa,5,0,H,3,0
11776,2023-2024_Liverpool_Wolves,2023-2024,38,5/19/2024,Liverpool,Wolves,2,0,H,3,0
11777,2023-2024_Luton_Fulham,2023-2024,38,5/19/2024,Luton,Fulham,2,4,A,0,3
11778,2023-2024_Man City_West Ham,2023-2024,38,5/19/2024,Man City,West Ham,3,1,H,3,0
11779,2023-2024_Sheffield United_Tottenham,2023-2024,38,5/19/2024,Sheffield United,Tottenham,0,3,A,0,3

In [11]:
df_2

       Season      League_Winner
0   1993-1994  Manchester United
1   1994-1995   Blackburn Rovers
2   1995-1996  Manchester United
3   1996-1997  Manchester United
4   1997-1998            Arsenal
5   1998-1999  Manchester United
6   1999-1900  Manchester United
7   2000-1901  Manchester United
8   2001-1902            Arsenal
9   2002-1903  Manchester United
10  2003-1904            Arsenal
11  2004-1905            Chelsea
12  2005-1906            Chelsea
13  2006-1907  Manchester United
14  2007-1908  Manchester United
15  2008-1909  Manchester United
16  2009-1910            Chelsea
17  2010-1911  Manchester United
18  2011-1912    Manchester City
19  2012-1913  Manchester United
20  2013-1914    Manchester City
21  2014-1915            Chelsea
22  2015-1916     Leicester City
23  2016-1917            Chelsea
24  2017-1918    Manchester City
25  2018-1919    Manchester City
26  2019-1920          Liverpool
27  2020-1921    Manchester City
28  2021-1922    Manchester City
29  2022-1923    Manchester City
30  2023-1924    Manchester City

In [12]:
df_2

       Season      League_Winner
0   1993-1994  Manchester United
1   1994-1995   Blackburn Rovers
2   1995-1996  Manchester United
3   1996-1997  Manchester United
4   1997-1998            Arsenal
5   1998-1999  Manchester United
6   1999-1900  Manchester United
7   2000-1901  Manchester United
8   2001-1902            Arsenal
9   2002-1903  Manchester United
10  2003-1904            Arsenal
11  2004-1905            Chelsea
12  2005-1906            Chelsea
13  2006-1907  Manchester United
14  2007-1908  Manchester United
15  2008-1909  Manchester United
16  2009-1910            Chelsea
17  2010-1911  Manchester United
18  2011-1912    Manchester City
19  2012-1913  Manchester United
20  2013-1914    Manchester City
21  2014-1915            Chelsea
22  2015-1916     Leicester City
23  2016-1917            Chelsea
24  2017-1918    Manchester City
25  2018-1919    Manchester City
26  2019-1920          Liverpool
27  2020-1921    Manchester City
28  2021-1922    Manchester City
29  2022-1923    Manchester City
30  2023-1924    Manchester City

In [13]:
df_1['Season'].unique

<bound method Series.unique of 0        1993-1994
1        1993-1994
2        1993-1994
3        1993-1994
4        1993-1994
           ...
11775    2023-2024
11776    2023-2024
11777    2023-2024
11778    2023-2024
11779    2023-2024
Name: Season, Length: 11780, dtype: object>

In [14]:
df_2.drop('Season', axis=1, inplace=True)
# Create a list of seasons from 1993-1994 to 2023-2024
seasons = [f"{year}-{year+1}" for year in range(1993, 2024)]

# Add the new 'Season' column to df_2
df_2['Season'] = seasons

# Display the updated dataframe
print(df_2)

        League_Winner     Season
0   Manchester United  1993-1994
1    Blackburn Rovers  1994-1995
2   Manchester United  1995-1996
3   Manchester United  1996-1997
4             Arsenal  1997-1998
5   Manchester United  1998-1999
6   Manchester United  1999-2000
7   Manchester United  2000-2001
8             Arsenal  2001-2002
9   Manchester United  2002-2003
10            Arsenal  2003-2004
11            Chelsea  2004-2005
12            Chelsea  2005-2006
13  Manchester United  2006-2007
14  Manchester United  2007-2008
15  Manchester United  2008-2009
16            Chelsea  2009-2010
17  Manchester United  2010-2011
18    Manchester City  2011-2012
19  Manchester United  2012-2013
20    Manchester City  2013-2014
21            Chelsea  2014-2015
22     Leicester City  2015-2016
23            Chelsea  2016-2017
24    Manchester City  2017-2018
25    Manchester City  2018-2019
26          Liverpool  2019-2020
27    Manchester City  2020-2021
28    Manchester City  2021-2022
29    Manchester City  2022-2023
30    Manchester City  2023-2024

In [15]:
import dash
from dash import dcc, html
import dash_table
import pandas as pd
from dash.dependencies import Input, Output

# Team colors dictionary (for reference)
team_colors = {
    'Arsenal': '#EF0107',
    'Aston Villa': '#95BFE5',
    'Chelsea': '#034694',
    'Liverpool': '#C8102E',
    'Man City': '#6CABDD',
    'Newcastle': '#241F20',
    'Oldham': '#004D98',
    'Sheffield United': '#EE2737',
    'Southampton': '#D71920',
    'West Ham': '#7A263A',
    'Norwich': '#FFF200',
    'Tottenham': '#132257',
    'Everton': '#003399',
    'Ipswich': '#003B8F',
    'Leeds': '#FFCD00',
    'Wimbledon': '#003366',
    'Blackburn': '#1B458F',
    'Coventry': '#00A9CE',
    'Man United': '#DA291C',
    'QPR': '#1C2C5B',
    'Sheffield Weds': '#0073D0',
    'Swindon': '#FF0000',
    'Crystal Palace': '#1B458F',
    'Leicester': '#0053A0',
    "Nott'm Forest": '#DD0000',
    'Bolton': '#FFFFFF',
    'Middlesbrough': '#DA291C',
    'Derby': '#FFFFFF',
    'Sunderland': '#EB172B',
    'Barnsley': '#E30613',
    'Charlton': '#C8102E',
    'Watford': '#FBEE23',
    'Bradford': '#7A003C',
    'Fulham': '#FFFFFF',
    'Birmingham': '#0033A1',
    'West Brom': '#122F67',
    'Portsmouth': '#003087',
    'Wolves': '#FDB913',
    'Wigan': '#005BAC',
    'Reading': '#003087',
    'Hull': '#F4A300',
    'Stoke': '#E03A3E',
    'Burnley': '#6C1D45',
    'Blackpool': '#FF8300',
    'Swansea': '#FFFFFF',
    'Cardiff': '#0070B5',
    'Bournemouth': '#DA291C',
    'Brighton': '#0057B8',
    'Huddersfield': '#0073CF',
    'Brentford': '#D00027',
    'Luton': '#FF4A00'
}

# Initialize the app
app = dash.Dash(__name__)

# Layout of the app
app.layout = html.Div(style={'backgroundColor': '#3d195b', 'padding': '20px', 'fontSize': '18px'}, children=[
    html.H1("EPL Stats Central: From 1993 to 2024", style={'textAlign': 'center', 'color': '#FFFFFF', 'fontSize': '24px', 'fontWeight': 'bold'}),
    
    html.Div([
        html.Label('Select Season:', style={'color': '#FFFFFF'}),
        dcc.Dropdown(
            id='season-dropdown',
            options=[{'label': season, 'value': season} for season in df_1['Season'].unique()],
            value=df_1['Season'].unique()[0],  # Default value
            clearable=False
        )
    ], style={'width': '20%', 'display': 'inline-block', 'verticalAlign': 'top'}),
    
    html.Div(id='winner-container', style={'paddingTop': '20px', 'width': '20%', 'display': 'inline-block', 'verticalAlign': 'top'}),
    
    html.Div(id='titles-container', style={'paddingTop': '20px', 'width': '20%', 'display': 'inline-block', 'verticalAlign': 'top'}),
    
    html.Div(id='table-container', style={'paddingTop': '20px', 'width': '60%', 'margin': '0 auto'})
])

# Callback to update table, league winner, and number of titles based on season selection
@app.callback(
    [Output('table-container', 'children'),
     Output('winner-container', 'children'),
     Output('titles-container', 'children')],
    [Input('season-dropdown', 'value')]
)
def update_table_and_winner(selected_season):
    # Filter the data for the selected season
    df_season = df_1[df_1['Season'] == selected_season]
    
    # Create a dataframe for team statistics
    teams = df_season['HomeTeam'].unique()
    
    team_stats = []
    for team in teams:
        home_games = df_season[df_season['HomeTeam'] == team]
        away_games = df_season[df_season['AwayTeam'] == team]
        total_games = pd.concat([home_games, away_games])

        wins = len(total_games[(total_games['FullTimeResult'] == 'H') & (total_games['HomeTeam'] == team)]) + \
               len(total_games[(total_games['FullTimeResult'] == 'A') & (total_games['AwayTeam'] == team)])

        losses = len(total_games[(total_games['FullTimeResult'] == 'A') & (total_games['HomeTeam'] == team)]) + \
                 len(total_games[(total_games['FullTimeResult'] == 'H') & (total_games['AwayTeam'] == team)])

        draws = len(total_games[total_games['FullTimeResult'] == 'D'])

        goals_scored = home_games['FullTimeHomeTeamGoals'].sum() + away_games['FullTimeAwayTeamGoals'].sum()
        goals_conceded = home_games['FullTimeAwayTeamGoals'].sum() + away_games['FullTimeHomeTeamGoals'].sum()

        # Calculate total points (home and away)
        points = home_games['HomeTeamPoints'].sum() + away_games['AwayTeamPoints'].sum()

        team_stats.append({
            'Team': team,
            'Games_Played': len(total_games),
            'Wins': wins,
            'Losses': losses,
            'Draws': draws,
            'Goals_Scored': goals_scored,
            'Goals_Conceded': goals_conceded,
            'GD': goals_scored - goals_conceded,
            'Points': points
        })

    df_team_stats = pd.DataFrame(team_stats).sort_values(by=['Points'], ascending=False)
    
    # Create a table with italicized text except for the team names
    table = dash_table.DataTable(
        columns=[
            {'name': 'Team', 'id': 'Team'},
            {'name': 'Games Played', 'id': 'Games_Played'},
            {'name': 'Wins', 'id': 'Wins'},
            {'name': 'Losses', 'id': 'Losses'},
            {'name': 'Draws', 'id': 'Draws'},
            {'name': 'Goals Scored', 'id': 'Goals_Scored'},
            {'name': 'Goals Conceded', 'id': 'Goals_Conceded'},
            {'name': 'GD', 'id': 'GD'},
            {'name': 'Points', 'id': 'Points'}
        ],
        data=df_team_stats.to_dict('records'),
        style_data_conditional=[
            # Italicize all columns except the Team column
            {
                'if': {'column_id': col},
                'fontStyle': 'italic'
            } for col in df_team_stats.columns if col != 'Team'
        ] + [
            # Apply team colors to the Team column
            {
                'if': {'filter_query': f'{{Team}} = "{team}"', 'column_id': 'Team'},
                'backgroundColor': team_colors.get(team, '#FFFFFF'),
                'color': 'white',
                'fontStyle': 'normal'
            } for team in team_colors
        ],
        style_header={'backgroundColor': 'black', 'color': 'white'},
        style_cell={'textAlign': 'center', 'backgroundColor': '#3d195b', 'color': '#FFFFFF'},
        style_table={'overflowX': 'auto', 'margin': '0 auto'}
    )
    
    # Fetch the league winner for the selected season
    winner_row = df_2[df_2['Season'] == selected_season]
    if not winner_row.empty:
        winner_team = winner_row['League_Winner'].values[0]
        # Calculate the number of titles won by the winner
        titles_won = df_2[df_2['League_Winner'] == winner_team].shape[0]
        # Use a default color for the winner box if team color is not available
        default_color = '#000000'
        winner_color = team_colors.get(winner_team, default_color)
        winner_box = html.Div(
            children=[
                html.H3(winner_team, style={'color': winner_color, 'fontSize': '24px', 'fontWeight': 'bold'})
            ],
            style={'backgroundColor': '#FFFFFF', 'color': winner_color, 'padding': '20px', 'borderRadius': '5px', 'textAlign': 'center'}
        )
        titles_box = html.Div(
            children=[
                html.H3(f"Titles Won: {titles_won}", style={'color': winner_color, 'fontSize': '24px', 'fontWeight': 'bold'})
            ],
            style={'backgroundColor': '#FFFFFF', 'color': winner_color, 'padding': '20px', 'borderRadius': '5px', 'textAlign': 'center'}
        )
    else:
        winner_box = html.Div(
            children=[html.H3('No Winner Available')],
            style={'backgroundColor': '#FFFFFF', 'color': '#000000', 'padding': '20px', 'borderRadius': '5px', 'textAlign': 'center'}
        )
        titles_box = html.Div(
            children=[html.H3('Titles Won: N/A')],
            style={'backgroundColor': '#FFFFFF', 'color': '#000000', 'padding': '20px', 'borderRadius': '5px', 'textAlign': 'center'}
        )

    return table, winner_box, titles_box

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True, port=3060)